# 리스트(List)

## 리스트 생성

In [ ]:
# 1부터 5까지의 수를 원소로 하는 리스트를 만들어 numbers라는 변수에 할당

[1, 2, 3, 4, 5]

In [ ]:
# 1부터 5까지의 수를 원소로 하는 리스트를 만들어 numbers라는 변수에 할당(range 사용)
# range(시작, 끝, 스텝) 끝은 포함하지 않는다.


# 3부터 9까지의 홀수를 원소로 하는 리스트를 만들어 numbers라는 변수에 할당(range 사용)

[1, 2, 3, 4, 5]
[3, 5, 7, 9]

## 인덱싱(indexing)과 슬라이싱(slicing)

[시작인덱스:마지막인덱스+1]

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
# 인덱싱 - 1번째, 3번째, 5번째 도시 출력하기


# 슬라이싱 - 첫번째~6번째, 4번째~6번째, 전체, 역순서 전체

1번째 도시(인덱스0)은 서울입니다.
3번째 도시(인덱스2)은 인천입니다.
5번째 도시(인덱스4)은 대전입니다.
['서울', '부산', '인천', '대구', '대전', '광주']
['대구', '대전', '광주']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

# 리스트 메서드
* append()
* sort()
* index()
* pop()

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [ ]:
# cities에 '제주'를 마지막에 추가하기

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '제주']

In [ ]:
# cities를 오름차순으로 정렬하기

['광주', '대구', '대전', '부산', '서울', '수원', '울산', '인천', '제주']

In [ ]:
# cities를 내림차순으로 정렬하기

['제주', '인천', '울산', '수원', '서울', '부산', '대전', '대구', '광주']

In [ ]:
# cities에서 '서울'의 위치(인덱스) 받기  => 4

4

In [ ]:
# cities의 마지막 원소 버리기

광주
['제주', '인천', '울산', '수원', '서울', '부산', '대전', '대구']

## min(), max(), sum(), len() 함수
* min() 최소값
* max() 최대값
* sum() 합계
* len() 길이(원소의 수)

In [ ]:
nums = [1, 3, 7, 19, 20]

# 최소값 구하기


# 최대값 구하기


# 합계 구하기


# 길이 구하기


# 평균 구하기

최소값: 1
최대값: 20
합계: 50
길이: 5
평균: 10.0

## in  / not in 멤버 연산자

In [ ]:
# "광주"가 cities에 포함되었는지 출력


# "광주"가 cities에 포함되지 않았는지 출력

False
True

# 조건문

### if - else

In [ ]:
# 정수를 입력받아 score 변수에 할당


# 점수가 60 이상이면 "합격입니다." 출력하고


# 아니라면 "불합격입니다." 출력하기

점수: 80
합격입니다.

### 여러 줄

In [ ]:
# 정수를 입력받아 score 변수에 할당


# 점수가 90 이상이면
# "합격입니다."와
# "장학금을 받습니다." 출력하기

### if - elif - else

In [ ]:
# 정수를 입력받아 num 변수에 할당


# num이 0보다 크면 "양수입니다." 출력


# num이 0이라면 "0입니다." 출력


# 그 외에는 "음수입니다." 출력

수: -13
음수입니다.

### 학점과 장학금

In [ ]:
# 정수형 데이터 점수를 입력받아 score 변수에 할당


# 정수형 데이터 석차를 입력받아 ranking 변수에 할당


# 점수 구간에 맞게 학점을 알파벳으로 출력하기
# 90 이상 "A"


# 80이상 "B"


# 70이상 "C"


# 60이상 "D"


# 그 외에는 "F"


# 석차가 10등 이하라면 "장학금을 받습니다." 출력하고,
# 그 외에는 "장학금을 못받습니다." 출력하기.

몇 점: 90
몇 등: 8
A
장학금을 받습니다.

### 온라인 할인 쿠폰 시스템 만들기

In [ ]:
# 정수형 데이터 가격을 입력받아 price 변수에 저장


# 정수형 데이터 쿠폰 수량을 입력받아 coupon3000 변수에 저장


# 정수형 데이터 쿠폰 수량을 입력받아 coupon20 변수에 저장


# 20% 할인 쿠폰이 있다면 가격을 20% 할인하기


# 3000원 쿠폰 수량에 맞게 가격 낮추기


# 금액이 0원보다 낮다면 0으로 고치기


# 지불할 가격 출력하기

가격: 13000
3000원 할인 쿠폰: 5
20% 할인 쿠폰: 10
가격은 0원입니다.

### 합격 여부 판단하기

In [ ]:
# 빈 리스트 scores 선언


# scores list에 4번에 걸쳐 과목들의 점수를 입력받기



# 평균이 80 미만이라면 불합격,


# 50점 이하인 과목이 있으면 불합격,


# 그렇지 않으면 합격 출력

국어 점수: 50
영어 점수: 100
수학 점수: 100
과학 점수: 100
불합격

### 교통카드 시스템 만들기

In [ ]:
# 정수 타입으로 나이를 입력받아 age 변수에 저장


# 정수 타입으로 잔액을 입력받아 money 변수에 저장


# 계산 편의를 위해 버스요금을 fee라는 변수로 선언
fee = 0

# 나이에 따라 요금이 fee의 값이 어떻게 바뀔 지 조건문 만들기
# 7세 미만이면 0원


# 7세 이상 13세 미만이면 600원


# 13세 이상 19세 미만이면 900원


# 그 외에는 1200원


# 잔액이 부족하면 탈 수 없다고 하고,


# 잔액이 충분하다면 버스를 타고 난 잔액을 출력

나이: 48
버스카드 잔액: 1000
탈 수 없습니다.

# 반복문(while)
while 조건:

In [ ]:
# 구구단 출력하기
# 2 X 2 = 4
# 앞 숫자는 변수 dan, 뒷 숫자는 i로 지정

# 2단

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [ ]:
# 구구단 가로로 출력하기
# print()함수에 ,end=",  "라고 하면 줄바꿈 대신 ", "가 생긴다.

# 2단

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18,

In [ ]:
# 구구단 가로로 출력하기
# 2 X 9 = 18 뒤에 "," 없애고 줄바꿈 하기

# 2단

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18
2단 종료

In [ ]:
# 무한루프 만들기(while의 존재의 목적)

# num의 값 0으로 초기화하며 변수 선언하기


# 무한루프 시작


    # 숫자를 입력받아 new_num 변수에 할당


    # 0을 입력받으면 종료(break)


    # new_num 값을 num에 더하고, num출력하기

3
3
5
8
2
10
100
110
0

# 반복문(for)

In [ ]:
# 구구단 출력하기

# 2단
dan = 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [ ]:
# 구구단 가로로 출력하기

# 2단
dan = 2

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18,

In [ ]:
# 구구단 가로로 출력하기
# 2 X 9 = 18 뒤에 "," 없애고 줄바꿈 하기

# 2단
dan = 2

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18
2단 종료

In [ ]:
# 구구단 홀수만 출력하기
# continue 사용

# 3단
dan = 3

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [1]:
# 구구단 1단 ~ 9단 모두 출력하기

1 X 1 =  1, 1 X 2 =  2, 1 X 3 =  3, 1 X 4 =  4, 1 X 5 =  5, 1 X 6 =  6, 1 X 7 =  7, 1 X 8 =  8, 1 X 9 =  9
2 X 1 =  2, 2 X 2 =  4, 2 X 3 =  6, 2 X 4 =  8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18
3 X 1 =  3, 3 X 2 =  6, 3 X 3 =  9, 3 X 4 = 12, 3 X 5 = 15, 3 X 6 = 18, 3 X 7 = 21, 3 X 8 = 24, 3 X 9 = 27
4 X 1 =  4, 4 X 2 =  8, 4 X 3 = 12, 4 X 4 = 16, 4 X 5 = 20, 4 X 6 = 24, 4 X 7 = 28, 4 X 8 = 32, 4 X 9 = 36
5 X 1 =  5, 5 X 2 = 10, 5 X 3 = 15, 5 X 4 = 20, 5 X 5 = 25, 5 X 6 = 30, 5 X 7 = 35, 5 X 8 = 40, 5 X 9 = 45
6 X 1 =  6, 6 X 2 = 12, 6 X 3 = 18, 6 X 4 = 24, 6 X 5 = 30, 6 X 6 = 36, 6 X 7 = 42, 6 X 8 = 48, 6 X 9 = 54
7 X 1 =  7, 7 X 2 = 14, 7 X 3 = 21, 7 X 4 = 28, 7 X 5 = 35, 7 X 6 = 42, 7 X 7 = 49, 7 X 8 = 56, 7 X 9 = 63
8 X 1 =  8, 8 X 2 = 16, 8 X 3 = 24, 8 X 4 = 32, 8 X 5 = 40, 8 X 6 = 48, 8 X 7 = 56, 8 X 8 = 64, 8 X 9 = 72
9 X 1 =  9, 9 X 2 = 18, 9 X 3 = 27, 9 X 4 = 36, 9 X 5 = 45, 9 X 6 = 54, 9 X 7 = 63, 9 X 8 = 72, 9 X 9 = 81

In [ ]:
# 구구단 1단 ~ 9단 중 홀수만 모두 출력하기

1 X 1 =  1, 1 X 3 =  3, 1 X 5 =  5, 1 X 7 =  7, 1 X 9 =  9
3 X 1 =  3, 3 X 3 =  9, 3 X 5 = 15, 3 X 7 = 21, 3 X 9 = 27
5 X 1 =  5, 5 X 3 = 15, 5 X 5 = 25, 5 X 7 = 35, 5 X 9 = 45
7 X 1 =  7, 7 X 3 = 21, 7 X 5 = 35, 7 X 7 = 49, 7 X 9 = 63
9 X 1 =  9, 9 X 3 = 27, 9 X 5 = 45, 9 X 7 = 63, 9 X 9 = 81

In [ ]:
# 구구단 1단 ~ 9단 중 짝수만 모두 출력하기

1 X 2 =  2, 1 X 4 =  4, 1 X 6 =  6, 1 X 8 =  8,
2 X 1 =  2, 2 X 2 =  4, 2 X 3 =  6, 2 X 4 =  8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18
3 X 2 =  6, 3 X 4 = 12, 3 X 6 = 18, 3 X 8 = 24,
4 X 1 =  4, 4 X 2 =  8, 4 X 3 = 12, 4 X 4 = 16, 4 X 5 = 20, 4 X 6 = 24, 4 X 7 = 28, 4 X 8 = 32, 4 X 9 = 36
5 X 2 = 10, 5 X 4 = 20, 5 X 6 = 30, 5 X 8 = 40,
6 X 1 =  6, 6 X 2 = 12, 6 X 3 = 18, 6 X 4 = 24, 6 X 5 = 30, 6 X 6 = 36, 6 X 7 = 42, 6 X 8 = 48, 6 X 9 = 54
7 X 2 = 14, 7 X 4 = 28, 7 X 6 = 42, 7 X 8 = 56,
8 X 1 =  8, 8 X 2 = 16, 8 X 3 = 24, 8 X 4 = 32, 8 X 5 = 40, 8 X 6 = 48, 8 X 7 = 56, 8 X 8 = 64, 8 X 9 = 72
9 X 2 = 18, 9 X 4 = 36, 9 X 6 = 54, 9 X 8 = 72,

In [ ]:
# 별 찍기 1
# 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

# 입력: 5
# *
# **
# ***
# ****
# *****

5
*
**
***
****
*****

In [ ]:
# 별 찍기 2
# 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
# 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력

# 입력: 5
#     *
#    **
#   ***
#  ****
# *****

5
    *
   **
  ***
 ****
*****

In [ ]:
# 별 찍기 3
# 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

# 입력: 5
# *****
# ****
# ***
# **
# *

5
*****
****
***
**
*

In [ ]:
# 별 찍기 4
# 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제
# 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력

# 입력: 5
# *****
#  ****
#   ***
#    **
#     *

5
*****
 ****
  ***
   **
    *

In [ ]:
# 별 찍기 5
# 첫째 줄에는 별 1개, 둘째 줄에는 별 3개, ..., N번째 줄에는 별 2×N-1개를 찍는 문제
# 별은 가운데를 기준으로 대칭

# 입력: 5
#     *
#    ***
#   *****
#  *******
# *********

5
    *
   ***
  *****
 *******
*********

In [ ]:
# 별 찍기 6
# 첫째 줄에는 별 2×N-1개, 둘째 줄에는 별 2×N-3개, ..., N번째 줄에는 별 1개를 찍는 문제
# 별은 가운데를 기준으로 대칭

# 입력: 5
# *********
#  *******
#   *****
#    ***
#     *

5
*********
 *******
  *****
   ***
    *

In [ ]:
# 별 찍기 7
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

# 입력: 5
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
# 별 찍기 8
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

# 입력: 5
# *        *
# **      **
# ***    ***
# ****  ****
# **********
# ****  ****
# ***    ***
# **      **
# *        *

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [ ]:
# 별 찍기 9
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

# 입력: 5
# *********
#  *******
#   *****
#    ***
#     *
#    ***
#   *****
#  *******
# *********

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********