# 리스트(List)

## 리스트 생성

In [ ]:
# 1부터 5까지의 수를 원소로 하는 리스트를 만들어 numbers라는 변수에 할당
numbers = [1,2,3,4,5]
list(range(1,6))

[1, 2, 3, 4, 5]

In [ ]:
# 1부터 5까지의 수를 원소로 하는 리스트를 만들어 numbers라는 변수에 할당(range 사용)
# range(시작, 끝, 스텝) 끝은 포함하지 않는다.
numbers = list(range(1, 6))
print(numbers)

# 3부터 9까지의 홀수를 원소로 하는 리스트를 만들어 numbers라는 변수에 할당(range 사용)
numbers = list(range(3, 10, 2))
print(numbers)

[1, 2, 3, 4, 5]
[3, 5, 7, 9]

## 인덱싱(indexing)과 슬라이싱(slicing)

[시작인덱스:마지막인덱스+1]

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
# 인덱싱 - 1번째, 3번째, 5번째 도시 출력하기
# 1번째
print(cities[0])    # 서울
print(cities[2])   # 인천
print(cities[4])   # 대전

# 슬라이싱 - 첫번째~6번째, 4번째~6번째, 전체, 역순서 전체
print(cities[0:6])
print(cities[3:6])
print(cities[0:8])
print(cities[:])
print(cities[-8:-3])
print(cities[0:5])

서울
인천
대전
['서울', '부산', '인천', '대구', '대전', '광주']
['대구', '대전', '광주']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['서울', '부산', '인천', '대구', '대전']
['서울', '부산', '인천', '대구', '대전']

## 리스트 메서드
* append()
* sort()
* index()
* pop()

In [ ]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [ ]:
# cities에 '제주'를 마지막에 추가하기
cities.append("제주")
print(cities)
cities.append("울산")
print(cities)
print(cities.pop())
print(cities)

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '제주']
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '제주', '울산']
울산
['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원', '제주']

In [ ]:
# cities를 오름차순으로 정렬하기
cities.sort()
print(cities)

['광주', '대구', '대전', '부산', '서울', '수원', '울산', '인천', '제주']

In [ ]:
# cities를 내림차순으로 정렬하기
cities.sort(reverse=True)
print(cities)

['제주', '인천', '울산', '수원', '서울', '부산', '대전', '대구', '광주']

In [ ]:
# cities에서 '서울'의 위치(인덱스) 받기  => 4
print(cities.index("서울"))
print(f"대구: {cities.index('대구')}")

4
대구: 7

In [ ]:
# cities의 마지막 원소 버리기
cities.pop()
print(cities)

['제주', '인천', '울산', '수원', '서울', '부산', '대전', '대구']

## min(), max(), sum(), len() 함수
* min() 최소값
* max() 최대값
* sum() 합계
* len() 길이(원소의 수)

In [ ]:
nums = [1, 3, 7, 18, 20, 22]

# 최소값 구하기
print(min(nums))

# 최대값 구하기
print(max(nums))

# 합계 구하기
print(sum(nums))

# 길이 구하기
print(len(nums))

# 평균 구하기
# 합 / 원소 수
avg = sum(nums) / len(nums)
print(f"평균: {avg:.2f}")

1
22
71
6
평균: 11.83

## in  / not in 멤버 연산자

In [ ]:
# "광주"가 cities에 포함되었는지 출력
print("광주" in cities)

# "광주"가 cities에 포함되지 않았는지 출력
print("광주" not in cities)

False
True

# 조건문

### if - else

In [ ]:
# 정수를 입력받아 score 변수에 할당
score = int(input())

# 점수가 60 이상이면 "합격입니다." 출력하고
if score >= 60:
    print("합격입니다.")

# 아니라면 "불합격입니다." 출력하기
else:
    print("불합격입니다.")
    print("공부하세요.")

80
합격입니다.

### 여러 줄

In [ ]:
# 정수를 입력받아 score 변수에 할당
score = int(input())

# 점수가 90 이상이면
# "합격입니다."와
# "장학금을 받습니다." 출력하기
if 90 <= score:
    print("합격입니다.")
    print("장학금을 받습니다.")

95
합격입니다.
장학금을 받습니다.

### if - elif - else

In [ ]:
# 정수를 입력받아 num 변수에 할당
num = int(input())

# num이 0보다 크면 "양수입니다." 출력
if num > 0:
    print("양수입니다.")

# num이 0이라면 "0입니다." 출력
elif num == 0:
    print("0입니다.")

# 그 외에는 "음수입니다." 출력
else:
    print("음수입니다.")

2.3
양수입니다.

### 학점과 장학금

In [ ]:
# 정수형 데이터 점수를 입력받아 score 변수에 할당
score = int(input())

# 정수형 데이터 석차를 입력받아 ranking 변수에 할당
ranking = int(input())

# 점수 구간에 맞게 학점을 알파벳으로 출력하기
# 90 이상 "A"
if score >= 90:
    print("A")

# 80이상 "B"
elif score >= 80:
    print("B")

# 70이상 "C"
elif score >= 70:
    print("C")

# 60이상 "D"
elif score >= 60:
    print("D")

# 그 외에는 "F"
else:
    print("F")

# 석차가 10등 이하라면 "장학금을 받습니다." 출력하고,
# 그 외에는 "장학금을 못받습니다." 출력하기.
if ranking <= 10:
    print("장학금을 받습니다.")
else:
    print("장학금을 못받습니다.")

85
1
B
C
D

### 온라인 할인 쿠폰 시스템 만들기

In [3]:
# 정수형 데이터 가격을 입력받아 price 변수에 저장
price = int(input("가격: "))

# 정수형 데이터 쿠폰 수량을 입력받아 coupon3000 변수에 저장
coupon3000 = int(input("3000원 쿠폰: "))

# 정수형 데이터 쿠폰 수량을 입력받아 coupon20 변수에 저장
coupon20 = int(input("20% 쿠폰: "))

# 20% 할인 쿠폰이 있다면 가격을 20% 할인하기
if coupon20 > 0:
    price = price * 0.8

# 3000원 쿠폰 수량에 맞게 가격 낮추기
price = price - (3000 * coupon3000)

# 금액이 0원보다 낮다면 0으로 고치기
if price < 0:
    price = 0

# 지불할 가격 출력하기
print(f"가격은 {int(price)}원입니다.")

가격: 27547
3000원 쿠폰: 2
20% 쿠폰: 100
가격은 16037원입니다.

### 합격 여부 판단하기

In [5]:
# 빈 리스트 scores 선언
scores:list[int] = []

# scores list에 4번에 걸쳐 과목들의 점수를 입력받기
korean = int(input("국어 점수: "))
english = int(input("영어 점수: "))
math = int(input("수학 점수: "))
science = int(input("과학 점수: "))
scores.append(korean)
scores.append(english)
scores.append(math)
scores.append(science)


# 평균이 80 미만이라면 불합격,
if sum(scores) / len(scores) < 80:
    print("불합격")

# 50점 이하인 과목이 있으면 불합격,
elif min(scores) <= 50:
    print("불합격")

# 그렇지 않으면 합격 출력
else:
    print("합격")

국어 점수: 60
영어 점수: 100
수학 점수: 70
과학 점수: 90
합격

### 교통카드 시스템 만들기

In [6]:
# 정수 타입으로 나이를 입력받아 age 변수에 저장
age = int(input("나이: "))

# 정수 타입으로 잔액을 입력받아 money 변수에 저장
money = int(input("버스카드 잔액: "))

# 계산 편의를 위해 버스요금을 fee라는 변수로 선언
fee = 0

# 나이에 따라 요금이 fee의 값이 어떻게 바뀔 지 조건문 만들기
# 7세 미만이면 0원
if age < 7:
    fee = 0

# 7세 이상 13세 미만이면 600원
elif age < 13:
    fee = 600

# 13세 이상 19세 미만이면 900원
elif age < 19:
    fee = 900

# 그 외에는 1200원
else:
    fee = 1200

# 잔액이 부족하면 탈 수 없다고 하고,
if money < fee:
    print("탈 수 없습니다.")

# 잔액이 충분하다면 버스를 타고 난 잔액을 출력
else:
    money = money - fee
    print(f"{fee}원을 지불하고, 카드 잔액은 {money}원입니다.")

78
1100
탈 수 없습니다.