# 문제 풀이

## 합격 여부 판단하기

In [3]:
# 빈 리스트 scores 선언
scores = []

# scores list에 4번에 걸쳐 과목들의 점수를 입력받기

scores.append(int(input()))
scores.append(int(input()))
scores.append(int(input()))
scores.append(int(input()))

# 50 70 80 100
# [50, 70, 80, 100]

# 평균이 80 미만이라면 불합격,
avg = sum(scores) / len(scores)
if avg < 80:
    print("불합격")

# 50점 이하인 과목이 있으면 불합격,
elif min(scores) <= 50:
    print("불합격")

# 그렇지 않으면 합격 출력
else:
    print("합격")

50
70
80
100
불합격

## 교통카드 시스템 만들기

In [5]:
# 정수 타입으로 나이를 입력받아 age 변수에 저장
age = int(input("나이: "))

# 정수 타입으로 잔액을 입력받아 money 변수에 저장
money = int(input("버스카드 잔액: "))

# 계산 편의를 위해 버스요금을 fee라는 변수로 선언
fee = 99999999

# 나이에 따라 요금이 fee의 값이 어떻게 바뀔 지 조건문 만들기
# 7세 미만이면 0원
if age < 7:
    fee = 0
# 7세 이상 13세 미만이면 600원
elif age < 13:
    fee = 600
# 13세 이상 19세 미만이면 900원
elif age < 19:
    fee = 900
# 그 외에는 1200원
else:
    fee = 1200

# 잔액이 부족하면 탈 수 없다고 하고,
if money < fee:
    print("탈 수 없습니다.")
# 잔액이 충분하다면 버스를 타고 난 잔액을 출력
else:
    print(f"잔액은 {money - fee}입니다.")

나이: 58
버스카드 잔액: 1150
탈 수 없습니다.

# 파이썬의 Sequence 자료형

## 튜플(Tuple)
- 리스트와 비슷하게 여러 자료를 저장할 수 있는 자료형.
- 소괄호(())로 이루어진 자료형
- 처음에 한 번 내용이 정해지면 수정, 삭제가 불가능.

In [6]:
# arr이라는 변수에 1, "name"이라는 원소를 갖는 tuple을 만들기
arr = (1, "name")

# arr, arr[0], arr[1] 출력
print(arr)
print(arr[0])
print(arr[1])

(1, 'name')
1
name

### list -> tuple 로 바꾸기

In [7]:
arr_list = [1, "name"]

# arr이라는 변수에 arr_list를 tuple로 바꿔 할당하기
arr = tuple(arr_list)

# arr, arr[0], arr[1] 출력
print(arr)
print(arr[0])
print(arr[1])

(1, 'name')
1
name

In [8]:
# arr의 0번째 원소를 2로 변경해보기
arr[0] = 2

# TypeError: 'tuple' object does not support item assignment
# tuple 은 값을 변경할 수 없다

TypeError: ignored

## Packing, Unpacking

### Packing

In [9]:
# 여러 변수의 값을 할당할 때는 순서와 갯수가 맞게 한 줄에 여러개를 입력할 수 있다.
# 한줄로 a, b, c 에 각각 1, 2, 3 할당하기
a, b, c = 1, 2, 3

# arr이라는 변수에 a, b, c의 값을 갖는 tuple을 할당하기
arr = a, b, c

# arr 출력하기
print(arr)

(1, 2, 3)

### Unpacking

In [10]:
# arr의 원소(1, 2, 3)를 순서대로 d, e, f 변수에 할당하기
d, e, f = arr


# d, e, f의 값 출력하기
print(d, e, f)

1 2 3

### 고급 Unpacking

In [11]:
# Unpacking할 때 몇개의 원소가 들어올 지 알 수 없을 경우 *(asterisk)를 활용하면 뒤에 남은 모든 원소를 받을 수 있다.
# first 변수에 arr의 0번째 원소를 할당하고, 남은 원소들은 etc 원소에 할당하기

#
first, *etc = arr

# first와 etc의 값 출력하기
print(first)
print(etc)
print(type(etc))

1
[2, 3]
<class 'list'>

In [12]:
# *(asterisk)가 붙은 함수는 받을 원소가 없으면 빈 list가 된다.
# arr의 0번째 원소를 first 변수에, 1번째 원소를 second 변수에, 2번째 원소를 third 변수에, 남은 원소를 etc 변수에 할당하기
first, second, third, *etc = arr

# first, second, third, etc 변수의 값 출력해보기
print(f"first: {first}")
print(f"second: {second}")
print(f"third: {third}")
print(f"etd: {etc}")

first: 1
second: 2
third: 3
etd: []

## 세트(Set)
- 수학의 집합
- 원소가 중복될 수 없다.
- 원소의 순서가 정해져 있지 않다.
- {}로 감싼다고 set가 되지 않음!! (dictionary가 됨)
- set를 만들 때는 set() 함수를 이용
- list, dictionary, tuple 만큼 자주 사용되지 않는다.

In [13]:
arr = [1, 2, 3, 1, 2, 3, 4, 5]

# arr_set 이라는 변수에 arr을 set으로 바꾼 자료를 할당하기
arr_set = set(arr)

# arr_set 출력하여 원소 확인하기(중복이 제거되었는지)
print(arr_set)

{1, 2, 3, 4, 5}

## 딕셔너리(Dictionary)
- 중괄호({})로 이루어진 자료형
- key: value 형태의 쌍으로 이루어져 있다.
- 예시. {"name": "홍길동", "age": 20}
- 예시에서 "name", "age"는 key, "홍길동", 20은 value
- 딕셔너리[key] 를 입력하면 key에 맞는 value 값을 호출할 수 있다.

In [15]:
# 이름과 나이 입력받고, dictionary에 저장하기
# name 변수에 문자열 자료형 이름을 입력받아 할당하기
name = input("이름: ")

# age 변수에 정수 자료형 나이를 입력받아 할당하기
age = int(input("나이: "))

# person 변수에 해당 사람의 정보를 담는 딕셔너리를 할당
# key 값으로는 name, age 배정
person = {name: age}

# person 딕셔너리 출력
print(person)

이름: 홍길동
나이: 20
{'홍길동': 20}

### dictionary methods
- 딕셔너리.items()
- 딕셔너리.keys()
- 딕셔너리.values()
- 딕셔너리.clear()

In [16]:
person =  {"name": "홍길동", "age": 20}

# person의 key와 value를 쌍으로 출력하기
print(person.items())

# person의 key 값들 출력하기
print(person.keys())

# person의 value 값들 출력하기
print(person.values())

# person 초기화하기
person.clear()

# person의 key와 value를 쌍으로 출력하기
print(person.items())

dict_items([('name', '홍길동'), ('age', 20)])
dict_keys(['name', 'age'])
dict_values(['홍길동', 20])
dict_items([])

# 반복문
- while 문
- for 문

## while
- if문과 비슷하게 while 뒤에 조건을 적는다.
- 조건이 True인 동안 들여쓰기 된 코드들이 반복된다.
- 주로 특정 코드를 무한 반복할 때 쓰인다.
  
while 조건:  
&emsp;실행할 코드들

In [17]:
# 1부터 n까지 수 출력하기
# n이라는 변수에 정수 자료형으로 입력받기
n = int(input())

# 출력할 값을 표현할 변수 i에 초기값 1을 할당
i = 1

# 1부터 n까지 출력하기(while 활용)
# i의 값 출력하기
# i에 1 더하기
while i <= n:
    print(i)
    i += 1
    # i = i + 1

10
1
2
3
4
5
6
7
8
9
10

In [18]:
# 1부터 n까지 합 구하기
# n이라는 변수에 정수 자료형으로 입력받기
n = int(input())

# 합을 저장할 변수 result에 0을 할당
result = 0

# 합계에 더해 줄 변수 i에 초기값 1을 할당
i = 1

# 1부터 n까지 출력하기(while 활용)
# result에 i의 값 더하기
# i의 크기 1 크게 만들기
while i <= n:
    print(f"i: {i}")
    result += i # result = result + i
    i += 1
    print(f"result: {result}")

# 1~n까지 모든 수의 합을 계산한 result 변수 출력
print(result)

10
i: 1
result: 1
i: 2
result: 3
i: 3
result: 6
i: 4
result: 10
i: 5
result: 15
i: 6
result: 21
i: 7
result: 28
i: 8
result: 36
i: 9
result: 45
i: 10
result: 55
55

In [19]:
# 구구단 출력하기
# 2 X 2 = 4
# 앞 숫자는 변수 dan, 뒷 숫자는 i로 지정
dan = 2
i = 1

# while문 활용하기
# loop 마다 한 번씩 프린트 하고,
# i의 값 1씩 증가시키기
while i < 10:
    print(f"{dan} X {i} = {dan * i}")
    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [20]:
# 구구단 가로로 출력하기
# print()함수에 ,end=",  "라고 하면 줄바꿈 대신 ", "가 생긴다.
# 2 X 2 = 4
# 앞 숫자는 변수 dan, 뒷 숫자는 i로 지정
dan = 2
i = 1

#while문 활용하기
# loop 마다 한 번씩 프린트 하고,
# i의 값 1씩 증가시키기
# print() 함수에 매개변수 end=", " 입력하기
while i < 10:
    print(f"{dan} X {i} = {dan * i}", end=", ")
    i += 1

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18,

In [21]:
# 구구단 가로로 출력하기
# 2단의 마지막인 2 X 9 = 18 뒤의 ","만 없애고 줄바꿈 하기
# 2 X 2 = 4
# 앞 숫자는 변수 dan, 뒷 숫자는 i로 지정
dan = 2
i = 1

#while문 활용하기
# loop 마다 한 번씩 프린트 하고,
# i의 값 1씩 증가시키기
# print() 함수에 매개변수 end=", " 입력하기
while i < 10:
    if i ==9:
        print(f"{dan} X {i} = {dan * i}")
    else:
        print(f"{dan} X {i} = {dan * i}", end=", ")
    i += 1

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18

### continue와 break
- continue: 아래에 있는 코드를 실행하지 않고 다음 반복을 시행.
- break: 반복문을 종료.

In [22]:
# 무한루프 만들기(while의 존재의 목적)
# new_num이라는 변수에 정수를 입력받아 짝수라면 num이라는 변수에 더하고 출력한다.
# continue와 break를 사용하여 프로그램을 제작.
# num의 값 0으로 초기화하며 변수 선언하기
num = 0

# 무한루프 시작
while 1:
    # 정수를 입력받아 new_num 변수에 할당
    new_num = int(input("정수 입력: "))

    # new_num이 0이라면 종료(break)
    if new_num == 0:
        break

    # new_num이 홀수라면 아래 코드 실행하지 않음(continue)
    if new_num % 2 == 1:
        continue

    # new_num 값을 num에 더하고, num출력하기
    num += new_num
    print(num)

정수 입력: 3
정수 입력: 5
정수 입력: 10
10
정수 입력: 18
28
정수 입력: 26
54
정수 입력: 1234
1288
정수 입력: 0

## for
- for 뒤에 반복할 구간을 입력한다.
- 구간의 처음부터 끝까지 반복한다.
- 구간으로는 range()나, list, tuple 등 Sequence 자료형을 활용한다.
- 횟수가 정해진 반복을 할 때는 대부분 for를 활용한다.
  
for 변수 in 구간:  
&emsp;실행할 코드들

In [23]:
# 1부터 n까지 수 출력하기
# n이라는 변수에 정수 자료형으로 입력받기
n = int(input("숫자 입력: "))

# 1부터 n까지 출력하기(for, range 활용)
# 임시 변수는 i로 사용
for i in range(1, n+1):
    print(i)

숫자 입력: 10
1
2
3
4
5
6
7
8
9
10

In [24]:
# 1부터 n까지 합 구하기
# n이라는 변수에 정수 자료형으로 입력받기
n = int(input())

# 합을 저장할 변수 result에 0을 할당
result = 0

# 1부터 n까지 출력하기(for, range 활용)
# 임시 변수는 i로 사용
for i in range(1, n+1):
    result += i

# 1~n까지 모든 수의 합을 계산한 result 변수 출력
print(result)

10
55

In [25]:
# 구구단 출력하기

# 2단
dan = 2

# for문 이용하기       [1, 10)
# 임시 변수 i의 범위는 1부터 9까지 range 함수 활용하기
for i in range(1, 10):
    print(f"{dan} X {i} = {dan * i}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [26]:
# 구구단 가로로 출력하기

# 2단
dan = 2

# for문 이용하기
# 임시 변수 i의 범위는 1부터 9까지 range 함수 활용하기
# print() 함수에 매개변수 end=", " 입력하기
for i in range(1, 10):
    print(f"{dan} X {i} = {dan * i}", end=", ")

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18,

In [27]:
# 구구단 가로로 출력하기
# 마지막인 2 X 9 = 18 뒤에 "," 없애고 줄바꿈 하기

# 2단
dan = 2

# for문 이용하기
# 임시 변수 i의 범위는 1부터 9까지 range 함수 활용하기
# print() 함수에 매개변수 end=", " 입력하기
# 2 X 9 = 18 에는 ", " 입력되지 않도록 if 문 이용하기
for i in range(1, 10):
    if i == 9:
        print(f"{dan} X {i} = {dan * i}")
        break   # continue
    print(f"{dan} X {i} = {dan * i}", end=", ")

2 X 1 = 2, 2 X 2 = 4, 2 X 3 = 6, 2 X 4 = 8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18

In [28]:
# 구구단 홀수만 출력하기
# continue 사용

# 3단
dan = 3

# for문 이용하기
# 임시 변수 i의 범위는 1부터 9까지 range 함수 활용하기
# dan * i 가 짝수일 때는 출력하지 않기(continue 이용)
for i in range(1, 10):

    if (dan * i) % 2 == 0:
        continue

    print(f"{dan} X {i} = {dan * i}")

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

### 2중 for 문 (난이도 ★★★★☆)

In [29]:
# 구구단 1단 ~ 9단 모두 출력하기

for dan in range(1, 10):
    for i in range(1, 10):
        if i == 9:
            print(f"{dan} X {i} = {dan * i:2d}")    # :2d 2자리 정수
            continue
        print(f"{dan} X {i} = {dan * i:2d}", end=", ")

1 X 1 =  1, 1 X 2 =  2, 1 X 3 =  3, 1 X 4 =  4, 1 X 5 =  5, 1 X 6 =  6, 1 X 7 =  7, 1 X 8 =  8, 1 X 9 =  9
2 X 1 =  2, 2 X 2 =  4, 2 X 3 =  6, 2 X 4 =  8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18
3 X 1 =  3, 3 X 2 =  6, 3 X 3 =  9, 3 X 4 = 12, 3 X 5 = 15, 3 X 6 = 18, 3 X 7 = 21, 3 X 8 = 24, 3 X 9 = 27
4 X 1 =  4, 4 X 2 =  8, 4 X 3 = 12, 4 X 4 = 16, 4 X 5 = 20, 4 X 6 = 24, 4 X 7 = 28, 4 X 8 = 32, 4 X 9 = 36
5 X 1 =  5, 5 X 2 = 10, 5 X 3 = 15, 5 X 4 = 20, 5 X 5 = 25, 5 X 6 = 30, 5 X 7 = 35, 5 X 8 = 40, 5 X 9 = 45
6 X 1 =  6, 6 X 2 = 12, 6 X 3 = 18, 6 X 4 = 24, 6 X 5 = 30, 6 X 6 = 36, 6 X 7 = 42, 6 X 8 = 48, 6 X 9 = 54
7 X 1 =  7, 7 X 2 = 14, 7 X 3 = 21, 7 X 4 = 28, 7 X 5 = 35, 7 X 6 = 42, 7 X 7 = 49, 7 X 8 = 56, 7 X 9 = 63
8 X 1 =  8, 8 X 2 = 16, 8 X 3 = 24, 8 X 4 = 32, 8 X 5 = 40, 8 X 6 = 48, 8 X 7 = 56, 8 X 8 = 64, 8 X 9 = 72
9 X 1 =  9, 9 X 2 = 18, 9 X 3 = 27, 9 X 4 = 36, 9 X 5 = 45, 9 X 6 = 54, 9 X 7 = 63, 9 X 8 = 72, 9 X 9 = 81

In [30]:
# 구구단 1단 ~ 9단 중 홀수만 모두 출력하기

for dan in range(1, 10):
    for i in range(1, 10):
        if (dan * i) % 2 == 0:
            continue
        if i == 9:
            print(f"{dan} X {i} = {dan * i:2d}", end="")    # :2d 2자리 정수
            continue
        print(f"{dan} X {i} = {dan * i:2d}", end=", ")
    print()

1 X 1 =  1, 1 X 3 =  3, 1 X 5 =  5, 1 X 7 =  7, 1 X 9 =  9

3 X 1 =  3, 3 X 3 =  9, 3 X 5 = 15, 3 X 7 = 21, 3 X 9 = 27

5 X 1 =  5, 5 X 3 = 15, 5 X 5 = 25, 5 X 7 = 35, 5 X 9 = 45

7 X 1 =  7, 7 X 3 = 21, 7 X 5 = 35, 7 X 7 = 49, 7 X 9 = 63

9 X 1 =  9, 9 X 3 = 27, 9 X 5 = 45, 9 X 7 = 63, 9 X 9 = 81

In [31]:
# 구구단 1단 ~ 9단 중 짝수만 모두 출력하기

for dan in range(1, 10):
    for i in range(1, 10):
        if (dan * i) % 2 == 1:
            continue
        print(f"{dan} X {i} = {dan * i:2d}", end=", ")
    print()

1 X 2 =  2, 1 X 4 =  4, 1 X 6 =  6, 1 X 8 =  8,
2 X 1 =  2, 2 X 2 =  4, 2 X 3 =  6, 2 X 4 =  8, 2 X 5 = 10, 2 X 6 = 12, 2 X 7 = 14, 2 X 8 = 16, 2 X 9 = 18,
3 X 2 =  6, 3 X 4 = 12, 3 X 6 = 18, 3 X 8 = 24,
4 X 1 =  4, 4 X 2 =  8, 4 X 3 = 12, 4 X 4 = 16, 4 X 5 = 20, 4 X 6 = 24, 4 X 7 = 28, 4 X 8 = 32, 4 X 9 = 36,
5 X 2 = 10, 5 X 4 = 20, 5 X 6 = 30, 5 X 8 = 40,
6 X 1 =  6, 6 X 2 = 12, 6 X 3 = 18, 6 X 4 = 24, 6 X 5 = 30, 6 X 6 = 36, 6 X 7 = 42, 6 X 8 = 48, 6 X 9 = 54,
7 X 2 = 14, 7 X 4 = 28, 7 X 6 = 42, 7 X 8 = 56,
8 X 1 =  8, 8 X 2 = 16, 8 X 3 = 24, 8 X 4 = 32, 8 X 5 = 40, 8 X 6 = 48, 8 X 7 = 56, 8 X 8 = 64, 8 X 9 = 72,
9 X 2 = 18, 9 X 4 = 36, 9 X 6 = 54, 9 X 8 = 72,

## list를 활용한 반복문

In [32]:
# list에 있는 모든 숫자의 제곱을 구하고, 새로운 리스트에 저장하기
# 예시 list입니다. 수정하지 마세요!
numbers = [i for i in range(1, 21)]
print(f"numbers: {numbers}")
# 결과를 담을 리스트 result 선언하기
result = []

# for문 활용해서 numbers 의 원소를 num이라는 임시 변수로 부르고,
# 제곱한 값을 result에 삽입하기
for num in numbers:
    result.append(num **2)

# result 출력하기
print(f"result: {result}")

numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
result: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [33]:
# 1부터 50까지의 숫자 중에서 짝수만 모은 리스트 result를 만들고 출력하기

result = []

# for문 활용해서 임시 변수 i를 1부터 50까지 돌린다.(range() 함수 활용)
# if 문을 활룔하여 짝수면 result에 삽입하기

for i in range(1, 51):
    if i % 2 == 0:
        result.append(i)

# result 출력하기
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [34]:
# str_list의 원소인 문자열들의 길이를 각각 출력하기
str_list = ["approach", "declaring", "initialized", "variable", "structure"]

# for문 활용하여 str_list의 원소를 word라는 임시변수로 돌린다.
# word의 길이를 출력한다.
for word in str_list:
    print(f"{word}의 길이는 {len(word)}")

approach의 길이는 8
declaring의 길이는 9
initialized의 길이는 11
variable의 길이는 8
structure의 길이는 9

### dictionary를 활용한 반복문

#### 다음 과일 정보가 입력된 fruits 변수를 활용해 아래 문제를 해결하세요.

In [35]:
# 이 데이터는 실행만 하고 수정 금지
fruits = {"사과": 3000, "바나나": 2000, "체리": 2500, "배": 4000, "감": 1500,
          "오렌지": 1000, "석류": 3500, "포도": 3300}

#### 1. fruits에 담긴 과일들의 이름을 출력해보세요.

In [36]:
# for문, 딕셔너리 method 이용하기
for name in fruits.keys():
    print(name)

사과
바나나
체리
배
감
오렌지
석류
포도

#### 2. fruits에 담긴 과일들의 이름과 가격을 출력해보세요.

In [37]:
# for문, Unpacking, 딕셔너리 method 이용하기
# ex) 사과: 3000원
for name, price in fruits.items():
    print(f"{name}: {price}")

사과: 3000
바나나: 2000
체리: 2500
배: 4000
감: 1500
오렌지: 1000
석류: 3500
포도: 3300

#### 3. 가장 비싼 과일과, 가장 싼 과일의 이름과 가격을 각각 출력하세요.
- 비싼 과일: 배 4000원
- 싼 과일: 오렌지 1000원

In [38]:
# 가장 비싼 과일의 데이터를 저장할 expensive 라는 dictionary형식의 변수 지정
# key로 "name"과 "price"를 만들고 적당한 값으로 초기화
expensive = {"name": "", "price": 0}

# 가장 싼 과일의 데이터를 저장할 cheap라는 dictionary형식의 변수 지정
# key로 "name"과 "price"를 만들고 적당한 값으로 초기화
cheap = {"name": "", "price": 99999}

# for 문을 활용하여 fruits의 name과 price를 위에 만든 dictionary와 비교한다.
# if 문 활용하기

for name, price in fruits.items():
    if price > expensive["price"]:
        expensive["name"] = name
        expensive["price"] = price
    if price < cheap["price"]:
        cheap["name"] = name
        cheap["price"] = price

# 가장 비싼 과일과 싼 과일의 정보를 출력한다.
print(f"비싼 과일: {expensive['name']} {expensive['price']}")
print(f"싼 과일: {cheap['name']} {cheap['price']}")

비싼 과일: 배 4000
싼 과일: 오렌지 1000

#### 단어 빈도수 계산하기

In [39]:
# 다음 문장에서 각 단어가 몇 번씩 등장하는지 dictionary를 만들어 저장하고, 출력하기
# 단어의 등장 횟수를 저장할 dictionary 변수 frequency 선언
sentence = "apple banana apple strawberry banana lemon apple lemon"
frequency = {}

# 문자열 데이터는 문자열.split() 메서드를 이용하면
# 띄어쓰기 단위로 잘라 리스트로 만들어 준다
# 문자열을 잘라 str_list 변수로 저장한다.
str_list = sentence.split()

# for 문 활용, str_list의 원소를 임시변수 word로 돌린다.
# frequency에 이미 해당 단어가 있다면 빈도를 1 더해주고,
# 없다면 만들어준다.
for word in str_list:
    if word in frequency.keys():
        frequency[word] += 1
    else:
        frequency[word] = 1

# frequency 의 값을 key와 value의 쌍으로 출력한다.
for key, value in frequency.items():
    print(f"{key}: {value}회")

apple: 3회
banana: 2회
strawberry: 1회
lemon: 2회

## 별 찍기 (반복문 숙달 훈련)

In [41]:
# 별 찍기 1
# 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

# 입력: 5
# *
# **
# ***
# ****
# *****
n = int(input())

for i in range(1, n+1):
    print("*" * i)

5
*
**
***
****
*****

In [42]:
# 별 찍기 2
# 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
# 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력

# 입력: 5
#     *
#    **
#   ***
#  ****
# *****

n = int(input())

for i in range(1, n+1):
    print(" " * (n-i) + "*" * i)

5
    *
   **
  ***
 ****
*****

In [43]:
# 별 찍기 3
# 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제

# 입력: 5
# *****
# ****
# ***
# **
# *

n = int(input())

for i in range(n, 0, -1):
    print("*" * i)

5
*****
****
***
**
*

In [44]:
# 별 찍기 4
# 첫째 줄에는 별 N개, 둘째 줄에는 별 N-1개, ..., N번째 줄에는 별 1개를 찍는 문제
# 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력

# 입력: 5
# *****
#  ****
#   ***
#    **
#     *

n = int(input())

for i in range(n, 0, -1):
    print(" " * (n-i) + "*" * (i))

5
*****
 ****
  ***
   **
    *

In [45]:
# 별 찍기 5
# 첫째 줄에는 별 1개, 둘째 줄에는 별 3개, ..., N번째 줄에는 별 2×N-1개를 찍는 문제
# 별은 가운데를 기준으로 대칭

# 입력: 5
#     *
#    ***
#   *****
#  *******
# *********

n = int(input())

for i in range(1, n+1):
    print(" " * (n - i) + "*" * (2 * i - 1))

5
    *
   ***
  *****
 *******
*********

In [46]:
# 별 찍기 6
# 첫째 줄에는 별 2×N-1개, 둘째 줄에는 별 2×N-3개, ..., N번째 줄에는 별 1개를 찍는 문제
# 별은 가운데를 기준으로 대칭

# 입력: 5
# *********
#  *******
#   *****
#    ***
#     *

n = int(input())

for i in range(n, 0, -1):
    print(" " * (n - i) + "*" * (2 * i - 1))

5
*********
 *******
  *****
   ***
    *

In [47]:
# 별 찍기 7
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

# 입력: 5
#     *
#    ***
#   *****
#  *******
# *********
#  *******
#   *****
#    ***
#     *

n = int(input())

for i in range(1, n):
    print(" " * (n - i) + "*" * (2 * i - 1))
for i in range(n, 0, -1):
    print(" " * (n - i) + "*" * (2 * i - 1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [48]:
# 별 찍기 8
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

# 입력: 5
# *        *
# **      **
# ***    ***
# ****  ****
# **********
# ****  ****
# ***    ***
# **      **
# *        *

n = int(input())

for i in range(1, n):
    print("*" * i + " " * (2 * (n - i)) + "*" * i)
for i in range(n, 0, -1):
    print("*" * i + " " * (2 * (n - i)) + "*" * i)

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [49]:
# 별 찍기 9
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.

# 입력: 5
# *********
#  *******
#   *****
#    ***
#     *
#    ***
#   *****
#  *******
# *********

n = int(input())

for i in range(n, 1, -1):
    print(" " * (n-i) + "*" * (2 * i - 1))
for i in range(1, n+1):
    print(" " * (n-i) + "*" * (2 * i - 1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********