# 프로그래밍 입문 with Python 1주차

In [1]:
print("hello world!!!")     # hello world!!! 라는 문자열을 출력

hello world!!!

In [2]:
day = "토요일"      # day 라는 변수에 "토요일"이라는 문자열 데이터를 할당
print(day)          # day 변수의 값을 출력

토요일

## 변수

In [3]:
a = 20
b = 3
c = d = a * b

print(c, d)
print(e)    # e라는 변수는 선언된 적이 없어 에러 발생
            # name 'e' is not defined  <= 사용자에게 "너 e라는 변수 만든 적 없잖아!"라는 의미

60 60

NameError: ignored

## 표준 입력 함수: input() 함수

In [4]:
x = input("이름을 입력하세요: ")
print(x)

이름을 입력하세요:

In [5]:
print("Enter your name: ")
somebody = input()  # 콘솔 창에서 입력한 값을 somebody에 저장
print("Hi"+ somebody + "How are you today?")

Enter your name:

HiHow are you today?

## 표준 출력 함수: print() 함수

In [6]:
temperature = input("온도를 입력하세요: ")
print(temperature)

온도를 입력하세요:

### 출력 포맷

In [7]:
input_str = "입력값"
output_str = "출력값"

print("입력:", input_str, "출력:",output_str)
print("입력: {0} 출력: {1}".format(input_str, output_str))
print(f"입력: {input_str} 출력: {output_str}")

입력: 입력값 출력: 출력값
입력: 입력값 출력: 출력값
입력: 입력값 출력: 출력값

### 실습. 나이 묻고 답하기

In [8]:
# ____은 _____살입니다.

name = input("이름: ")
age = input("몇 살: ")

print(name, "은", age, "살입니다.")
print("{0}은 {1}살입니다".format(name, age))
print(f"{name}은 {age}살입니다.")

이름: 김지원
몇 살: 20
김지원 은 20 살입니다.
김지원은 20살입니다
김지원은 20살입니다.

### 실습. 로봇 기자 만들기

In [9]:
stadium = input("경기장: ")
win_team = input("이긴 팀: ")
lost_team = input("진 팀: ")
win_score = input("이긴 팀 점수: ")
lost_score = input("진 팀 점수: ")
mvp = input("MVP: ")

print(f"오늘 {stadium}에서 {win_team}, {lost_team}의 축구 경기가 열렸습니다.")
print(f"{mvp}이 맹활약을 하였습니다.")
print(f"결국 {win_team}이 {lost_team}을 {win_score}:{lost_score}로 이겼습니다.")

경기장: 상암
이긴 팀: 한국
진 팀: 중국
이긴 팀 점수: 5
진 팀 점수: 0
MVP: 손흥민
오늘 상암에서 한국, 중국의 축구 경기가 열렸습니다.
손흥민이 맹활약을 하였습니다.
결국 한국이 중국을 5:0로 이겼습니다.

## 기본 자료형

### 정수형과 실수형 간 변환

In [10]:
x = input()     # x는 문자열 데이터로 입력
print(type(x))
print(x)

001
<class 'str'>
001

In [11]:
x = int(input())    # x에 문자열 데이터를 정수형으로 바꿔 할당
print(type(x))
print(x)

001
<class 'int'>
1

In [12]:
x = float(input())  # x에 문자열 데이터를 실수형(소수)으로 바꿔 할당
print(type(x))
print(x)

001
<class 'float'>
1.0

In [13]:
bool(1) # 값이 있으면 True, 없으면 False를 반환

True

In [14]:
bool(0) # 0은 숫자의 크기가 없다는 의미라 False를 반환

False

In [15]:
print(bool(1000), bool(1.5), bool(-3))  # 0이 아닌 수라면 자연수, 소수, 음수 상관없이 True를 반환

True True True

In [16]:
bool("")    # 문자열도 값이 없으면 False 반환

False

In [17]:
bool("asna")    # 값이 있는 문자열은 True반환

True

In [18]:
a = int(10.7)
b = int(10.3)

print(a + b)    # 정수형 a와 b의 합을 출력
print(a)        # 정수형 a값 출력
print(b)        # 정수형 b값 출력

20
10
10

In [19]:
x = input("x: ")    # 100
y = input("y: ")    # 200
print(x + y)

x: 100
y: 200
100200

In [20]:
x = int(input("x: "))   # 100
y = int(input("y: "))   # 200
print(x + y)

x: 100
y: 200
300

### 숫자형과 문자형 간 변환

In [21]:
a = 3.14        # a에 3.14 할당(정수)
b = 1592        # b에 1592 할당(실수)
print(a + b)    # 두 수의 합을 출력

1595.14

In [22]:
a = str(3.14)   # 실수형 a값을 문자열로 변환 후 a에 할당
b = str(1592)   # 실수형 b값을 문자열로 변환 후 b에 할당
print(a + b)    # 두 값을 더한 후 출력

3.141592

### 자료형 확인하기

In [23]:
a = int(10.3)   # 정수형으로 10.3을 할당
b = float(10.3) # 실수형으로 10.3을 할당
c = str(10.3)   # 문자형으로 10.3을 할당

print(type(a))  # a의 타입을 출력
print(type(b))  # b의 타입을 출력
print(type(c))  # c의 타입을 출력

<class 'int'>
<class 'float'>
<class 'str'>

### 산술연산자

In [24]:
a = -4
b = 2
print(f"{a} + {b} = {a + b}")   # 덧셈
print(f"{a} - {b} = {a - b}")   # 뺄셈
print(f"{a} * {b} = {a * b}")   # 곱셈
print(f"{a} / {b} = {a / b}")   # 실수 나눗셈
print(f"{a} // {b} = {a // b}") # 정수 나눗셈(몫만 표시)
print(f"{a} % {b} = {a % b}")   # 나머지
print(f"{a} ** {b} = {a ** b}") # 거듭제곱

-4 + 2 = -2
-4 - 2 = -6
-4 * 2 = -8
-4 / 2 = -2.0
-4 // 2 = -2
-4 % 2 = 0
-4 ** 2 = 16

### 관계연산자

In [25]:
3 == 1 + 2  # 양 쪽이 같으면 True를 반환

True

In [26]:
3 != 1 + 2  # 양 쪽이 같아서 False를 반환

False

In [27]:
a = 10
b = 5

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

### 논리연산자

In [28]:
age = int(input("나이는 몇 살: "))
height = int(input("키는 얼마: "))

print(age >= 10 and height >= 165)  # and를 사용하여 두 값이 모두 True이면 True

나이는 몇 살: 18
키는 얼마: 150
False